<div class="cardsInfo">
  <mat-card *ngFor=" let item of obs | async" (click)="show(item)">
    <div class="content">
      <mat-card-content>
        <p>Direccion: {{item.travelEquipmentDTOs[item.travelEquipmentDTOs.length - 1].equipment.cliente.address}}
        </p>
        <p>Hora: {{item.travelEquipmentDTOs[item.travelEquipmentDTOs.length - 1].operationDate |
          date: 'short' | date: 'dd/MM/yy, h:mm a'}}</p>
        <p>Equipo: {{item.travelEquipmentDTOs[item.travelEquipmentDTOs.length - 1].equipment.mark + " " +
          item.travelEquipmentDTOs[item.travelEquipmentDTOs.length - 1].equipment.model}}</p>
        <p>Estado del viaje: {{item.lastStatusTravel}}</p>
      </mat-card-content>
    </div>
    <div class="btnCourse">
      <div class="finished" id="btnS" *ngIf="showFinished(item.lastStatusTravel)">

        <button mat-button (click)="finished(item)">
          <mat-icon style="color: white;">done</mat-icon>
        </button>

      </div>
      <div class="retired" id="btnS" *ngIf="showRR(item.lastStatusTravel)">

        <button mat-button (click)="retiredTrip(item)">
          <mat-icon>assignment_return</mat-icon>
        </button>

      </div>
      <div class="renounced" id="btnS" *ngIf="showRR(item.lastStatusTravel)">

        <button mat-button (click)="renounced(item)">
          <mat-icon style="color: white;">close</mat-icon>
        </button>

      </div>
    </div>
  </mat-card>
  <mat-paginator [pageSizeOptions]="[3]"></mat-paginator>
</div>
