.btnCourse {
  padding: 0;

  margin-right: 5%;
  button {
    margin: 5%;
  }

  .finished {
    button {
      background-color: #55d154;
    }
  }
  .renounced {
    button {
      background-color: red;
    }
  }
  .retired {
    button {
      background-color: yellow;
    }
  }
}

.cardsInfo {
  background-color: transparent;
  overflow: hidden;
  width: 90%;
  padding-top: 1em;
}

mat-card {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0;
  padding-top: 0.3em;
  padding-left: 0.3em;
  text-align: left;
  margin-bottom: 3%;
  line-height: 1;
}

mat-paginator {
  border-radius: 18px;
}
