::ng-deep .mat-form-field-wrapper {
  margin-bottom: -1.3em;
}

.info {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.5;
  color: white;
  max-width: 450px;
  margin: 0 auto;
  padding-bottom: 10px;
  form {
    mat-form-field {
      font-size: 12px;
    }
  }
}

.travelMain {
  text-align: center;
  app-card-travel,
  app-card-travel-acept,
  app-card-history {
    width: 100%;
    margin-top: 3%;
    display: flex;
    justify-content: center;
  }
}

@media (min-width: 950px) {
  .title {
    font-size: 60px;
    line-height: 1.5;
    padding-top: 1em;
  }

  .info {
    font-size: 25px;
    margin: 30px 0;
  }

  .login {
    text-align: center;
    padding: 2em;
  }
}

@media (min-width: 950px) {
  .travelMain {
    text-align: left;
    display: flex;
    max-width: 980px;
    justify-content: space-between;
    margin: 0 auto;
  }
}
