<section class="travelMain">
  <div class="info">
    <mat-form-field appearance="fill" style="font-size: 12px; border-radius: 3px; background-color: white;">
      <mat-label>Selecciona una opción</mat-label>
      <mat-select [(value)]="selected" (click)="capturar()">

        <mat-option value="viajesDisponibles">
          Viajes disponibles
        </mat-option>

        <mat-option value="viajesAceptados">
          Viajes en curso
        </mat-option>
        <mat-option value="historial">
          Historial
        </mat-option>

      </mat-select>
    </mat-form-field>
    <!-- VIAJES DISPONIBLES-->

    <div *ngIf=' selected == "viajesDisponibles"'>
      <app-card-travel></app-card-travel>
    </div>

    <!--VIAJES ACEPTADOS-->
    <div *ngIf=' selected == "viajesAceptados"'>
      <app-card-travel-acept></app-card-travel-acept>
    </div>

    <!--HISTORIAL-->
    <div *ngIf=' selected == "historial"'>
      <app-card-history></app-card-history>
    </div>
