.cardsInfo {
  background-color: white;
  overflow: hidden;
}

mat-card {
  display: flex;
  justify-content: space-between;
  width: 100%;
  //margin: 0 auto;
  text-align: left;
  padding: 0.5em;
  line-height: 1;

  .done {
    background-color: green;
    color: white;
    padding-top: 3%;
    padding-right: 5%;
  }
}
