<div class="cardsInfo">
  <mat-card *ngFor=" let item of obs | async">
    <div class="content">
      <mat-card-content>
        <p>Direccion: {{item.travelEquipmentDTOs[item.travelEquipmentDTOs.length - 1].equipment.cliente.address}}</p>
        <p>Fecha: {{item.travelEquipmentDTOs[item.travelEquipmentDTOs.length - 1].operationDate |
          date: 'short' | date: 'dd/MM/yy, h:mm a'}}</p>
        <p>Equipo: {{item.travelEquipmentDTOs[item.travelEquipmentDTOs.length - 1].equipment.mark + " " +
          item.travelEquipmentDTOs[item.travelEquipmentDTOs.length - 1].equipment.model}}</p>
        <p>Estado del viaje: {{item.lastStatusTravel | number | i18nSelect:
          estadoMap}}</p>
      </mat-card-content>
    </div>
    <div class="Like">
      <mat-card-actions>
        <button mat-button (click)="asignarViaje(item)">
          <mat-icon>thumb_up_alt</mat-icon>
        </button>
      </mat-card-actions>
    </div>

  </mat-card>
  <mat-paginator [pageSizeOptions]="[3]"></mat-paginator>
</div>
