.cardsInfo {
  background-color: white;
  overflow: hidden;
}

mat-card {
  display: flex;
  justify-content: space-between;
  width: 100%;
  //margin: 0 auto;
  text-align: left;
  padding: 0.3em;
  line-height: 1;

  .Like {
    padding-top: 5%;
    padding-right: 10%;
  }
}
