.cardsInfo {
  background-color: transparent;
  overflow: hidden;
  width: 90%;
  padding-top: 1em;
}

mat-card {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0;
  margin-bottom: 3%;
  padding-top: 0.3em;
  padding-left: 0.3em;
  text-align: left;

  line-height: 1;
  .Like {
    button {
      background-color: rgb(84, 209, 84);
    }
    color: white;
    margin-top: 1em;
    margin-right: 1.5em;
  }
}

mat-paginator {
  border-radius: 18px;
}
