.mainDialog {
  .close {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding-bottom: 1%;
    button {
      border: none;
      outline: none;
      background: red;
      border-radius: 5px;
    }
  }
}

.botones {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 1em;

}
